
.nothing{
    background-image: url("./Header.jpg");
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;   
}
header {
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #575757;
  /* padding: 1%; */

  ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;

    li{
      padding-right: 1.3em;
      border-right: 1px solid #575757;
      padding: 0.85rem;
      margin-top: 70px;
      a{
        text-decoration: none;
        color: #ffffff;
      }
    }
    li:last-child {
      margin-left: auto;
      margin-right: 0;
      border: 0;
      font-size: larger;
    }
  }
}
body{
    /* overflow: hidden; */
}
.something{
    display: flex;
    gap: 10px;
    /* background-color: blue; */
    color: white;
    animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    overflow: hidden;
  }
}
.indestructable{
    background-color: blue;
}
.super{
    color: white;
    font-size: xx-large;
}
.chill{
    /* background-color: black;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
}
.out{
        background-color: black;
    color: white;
    padding-top: 2%;
    margin: 0;
    /* padding-bottom: 2%; */
    /* margin-bottom: 1500px; */
    padding-left: 2%;
}
.read{
    background-image: url("./Image\ 5.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0;

}
.learn{
    background-image: url("./Image\ 6.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}