
header {
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #575757;
  padding: 1%;

  ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;

    li{
      padding-right: 1.3em;
      border-right: 1px solid #575757;
      padding: 0.85rem;
      margin-top: 10px;
      a{
        text-decoration: none;
        color: #ffffff;
      }
    }
    li:last-child {
      margin-left: auto;
      margin-right: 0;
      border: 0;
      font-size: larger;
    }
  }
}
.split{
  background-image: url("./Header\ section.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 8%;
}
.goku{
  color: white;
}
.down{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.anime{
  margin-top: 35%;
  color: white;
  background-color: #000000;
  padding-top: 8%;
  padding-bottom: 6%;
}
/* .up{
  background-image: url("./Image\ 2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  padding-right: 0%;
  padding-top: 2%;
} */
.juicewrld{
  color: white;
  font-size: xx-large;
}
/* .okay{
  background-image: url("./Image\ \(3\).jpg");
  height: 100vh;
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-right: 2%; */
/* } */
/* .rad{
  display: flex;
  flex-direction: row;
} */
.rad{
  background-image: 
  url("./Image\ 2.jpg"),
  url("./Image\ \(3\).jpg");
  background-position: left,right;
  background-size: 300px, 400px;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
}