header {
  color: #ffffff;
  background-color: #000000;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #575757;
  /* padding: 1%; */
  position: sticky;

  ul{
    padding-top: 4%;
    list-style: none;
    display: flex;
    justify-content: flex-start;

    li{
      padding-right: 1.3em;
      border-right: 1px solid #575757;
      padding: 0.85rem;

      a{
        text-decoration: none;
        color: #ffffff;
      }
    }
    li:last-child {
      margin-left: auto;
      margin-right: 0;
      border: 0;
      font-size: larger;
    }
  }
}

.hero{
  /* margin-top: 80px; */
  background-image: url(./hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 2%;
    background-attachment: fixed;
    scroll-behavior: smooth;
    /* display: flex;
    flex-direction: column; */
    /* background-position:relative; */
    position: sticky;
}
.numbers{
  color: white;
}
.btn {
  display: inline-block;
  margin-top: 500px;
  margin-right: 20px;
  padding: 12px 24px;
  font-size: 18px;
  background-color: aqua; 
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.btn:hover {
  background-color: palevioletred; 
}
.highlight{
  color: #ffffff;
  display: flex;
  gap: 20px;
  animation: scroll-left 10s linear infinite;
  padding-left: 100%;
  justify-content: space-between;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Highlighted-text{
  background-color: blue;

  white-space: nowrap;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.container{
  background-image: url(/Title\ container-bg.jpg);
  /* background-position: bottom; */
    /* height: 200vh; */
    background-repeat: no-repeat;
    /* display: flex; */
    /* flex-direction: column; */
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  /* grid-template-rows: 1fr 1fr 1fr; */
}
.button{
  background-color: blue;
  padding: 30px;
  color: white;
  margin: 10px;
}
.text{
  padding-left: 70px;
  padding-top: 100px;
}
.image{
  background-image: url(./Title\ container\ 2-bg.jpg);
  /* background-position: center; */
  height: 100vh;
  /* margin-top: 7%; */
  background-repeat:no-repeat;
}
.letters{
  padding-left: 70px;
  padding-top: 50px;
}

.parent{
  display: flex;
  /* flex-direction: row; */
}
.profile-photo{
  background-image: url("./title\ conntainer\ 3.jpg");
  /* background-repeat: no-repeat;
  /* display: grid; */
  background-size: cover;
    position: right;
    height: 100vh;
}
.writing{
  padding-right: 70px;
  padding-top: 70px;
  color: black;
}
.portion{
  background-color: violet;
}
.solo{
  color: white;
}