.hero{
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    color: white;
}
.btn {
  display: inline-block;
  margin-top: 500px;
  padding: 12px 24px;
  font-size: 18px;
  background-color: aqua; 
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.btn:hover {
  background-color: palevioletred; 
}
.highlight{
  background-color: blue;
  color: #ffffff;
  display: flex;
  gap: 20px;
  animation: scroll-left 10s linear infinite;
  padding-left: 100%;
  justify-content: space-between;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Highlighted-text{
  white-space: nowrap;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.container{
  background-image: url(/Title\ container-bg.jpg);
    background-position: center;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.button{
  background-color: blue;
  padding: 30px;
  color: white;
  margin: 10px;
}
.text{
  padding-left: 70px;
  padding-top: 20px;
}
.image{
  background-image: url(./Title\ container\ 2-bg.jpg);
  background-position: center;
  height: 100vh;
}