header {
  color: #ffffff;
  background-color: #000000;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #575757;
  /* padding: 1%; */
  position: sticky;

  ul{
    padding-top: 4%;
    list-style: none;
    display: flex;
    justify-content: flex-start;

    li{
      padding-right: 1.3em;
      border-right: 1px solid #575757;
      padding: 0.85rem;

      a{
        text-decoration: none;
        color: #ffffff;
      }
    }
    li:last-child {
      margin-left: auto;
      margin-right: 0;
      border: 0;
      font-size: larger;
    }
  }
}

.hero{
  /* margin-top: 80px; */
  background-image: url(./hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 2%;
    background-attachment: fixed;
    scroll-behavior: smooth;
    /* display: flex;
    flex-direction: column; */
    /* background-position:relative; */
    position: sticky;
}
.numbers{
  color: white;
}
.btn {
  display: inline-block;
  margin-top: 350px;
  margin-right: 20px;
  padding: 12px 24px;
  font-size: 18px;
  background-color: aqua; 
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.btn:hover {
  background-color: palevioletred; 
}
.highlight{
  color: #ffffff;
  display: flex;
  gap: 20px;
  animation: scroll-left 10s linear infinite;
  padding-left: 100%;
  justify-content: space-between;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    overflow: hidden;
  }
}

.Highlighted-text{
  background-color: blue;

  white-space: nowrap;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.container{
  background-image: url(/Title\ container-bg.jpg);
  /* background-position: bottom; */
    /* height: 200vh; */
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    /* flex-direction: column; */
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  /* grid-template-rows: 1fr 1fr 1fr; */
}
.button{
  background-color: blue;
  padding: 30px;
  color: white;
  margin: 10px;
}
.text{
  padding-left: 70px;
  padding-top: 100px;
}
.image{
  background-image: url(./Title\ container\ 2-bg.jpg);
  /* background-position: center; */
  height: 100vh;
  /* margin-top: 7%; */
  background-repeat:no-repeat;
}
.solo{
  color: white;
}
.letters{
  padding-left: 70px;
  padding-top: 50px;
}

.parent{
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-photo{
  background-image: url("./Founder\ image.jpg");
 height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
    
    background-color: aqua;
}
.writing{
  padding-right: 70px;
  padding-top: 70px;
  color: black;
}
.portion{
  background-color: violet;
  margin: 0;
  /* padding-top: 1%;
  padding-bottom: 1%; */
}
.right-side{
  display: flex;
  flex-direction: column;
  gap: 0;
}
body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
marquee{
  display: flex;
}
/* *{
  border: 1px solid red;
} */
 .picture{
  background-image: url(./eren.jpg);
  height: 50vh;
  background-repeat: no-repeat;
 }
 .mikasa{
  background-color: aquamarine;
  margin: 0%;
  margin-bottom: 0%;
 }
 .mexico{
  padding-top: 85%;
 }
 .blue{
  background-color: blue;
  color: white;
  padding: 10%;
  margin-top: 10%;
 }
 .pin{
  background-color: aqua;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 30px;
 }
 .pin{
  padding: 12px 24px;
  text-decoration: none;
 }
 .pin:hover{
  background-color: violet;
 }
 .biome{
  background-color: aquamarine;
  padding: 10%;
  display: flex;
  flex-direction: row;
 }
 .ice{
  font-size: 50px;
 }
 .contact{
  margin-top: 9%;
  margin-left: 20%;
  text-decoration: none;
 }
 .snow{
  display: flex;
  flex-direction: row;
 }
 .water{
  background-color: blue;
  width: fit-content;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
  padding-right: 15%;
 }
 .fish{
  background-color: black;
  color: white;
  padding-right: 25%;
 }
 .frog{
  background-color: violet;
  padding-right: 20%;
 }